.chatroom{
    word-wrap: break-spaces;
    overflow-wrap: break-word;
    box-shadow: 0 0 5px 2px #AAAAAA;
    padding: 1em;
}

#chatroom-form{
    margin-top: 1em;
}

#chatroom-messages{
    margin-top: 1em;
    height: 200px;
    overflow-y: scroll;
}

#chatroom-messages > p{
    margin-top: .2em;
    margin-bottom: .2em;
}